@{
    Layout = null;
}
<!DOCTYPE html>
@model MvcHtmlString
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Video</title>
</head>
<body>
    <div>
        @Model
    </div>
</body>
</html>
